body::-webkit-scrollbar {
  display: none;
}

/* Global Class */

.middle {
  display: table;
  margin: 0 auto;
}

/* Home Class ----------------------------------- */

.box-absolute {
  width: 100%;
  height: 100%;
}

.box-relative {
  width: 100%;
  aspect-ratio: 4/3;
}

.img-slider {
  width: 50px;
  margin-left: 20px;
}

.logo-absolute {
  width: 60%;
  height: 35%;
  bottom: 5%;
  left: 20%;
  /* z-index: -1; */
}

.self-picture {
  max-width: 100%;
}

/* Contact Class ----------------------------------- */
.center-screen {
  height: 90vh;
}
.contact-p {
  font-size: 3rem;
  width: 100%;
  text-align: center !important;
}
.contact-icon {
  padding-left: 10%;
  padding-right: 10%;
}
.hr-box {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.hr-middle {
  flex: 1;
}

/* Work Class ----------------------------------- */
.post {
  font-size: xx-large;
  letter-spacing: 14px;
}

/* Navigation Class ----------------------------------- */
.theme-toggle {
  cursor: pointer;
}

/* Carousel Section Class ----------------------------------- */
.image-carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-explore {
  text-decoration: none;
}

/* small screen and below ----------------------------------- */
@media screen and (max-width: 787px) {
  /* Carousel Section Class ----------------------------------- */
  .carousel-image {
    width: 50%;
    height: 100%;
    display: inline-block;
  }
  .carousel-parent {
    width: 100vw;
    height: 66vw;
    padding: 3%;
  }
  .carousel-text {
    width: 50%;
    height: 100%;
    display: inline-block;
    padding-right: 2%;
  }
  .carousel-text p {
    display: none;
  }
  .carousel-text button {
    display: table;
    margin: 0 auto;
  }
  .image-carousel {
    border-radius: 10px;
  }

  /* Navigation Class ----------------------------------- */
  .navbar-icon-spacer {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}

/* big screen and above ----------------------------------- */
@media screen and (min-width: 768px) {
  /* Carousel Section Class ----------------------------------- */
  .carousel-image {
    width: 65%;
    height: 100%;
    display: inline-block;
  }
  .carousel-parent {
    width: 100vw;
    height: 90vh;
  }
  .carousel-text {
    width: 35%;
    height: 100%;
    display: inline-block;
    padding-left: 5%;
    padding-right: 2%;
  }
  .image-carousel {
    padding: 2%;
    border-radius: 30px;
  }

  /* Navigation Class ----------------------------------- */
  .width-40 {
    min-width: fit-content;
    max-width: 40%;
  }
}
