.dark-mode {
  background-color: #131515;
  color: #fffafb;
}

.middle {
  display: table;
  margin: 0 auto;
}

.self-picture {
  max-width: 100%;
}

.size-fit {
  max-width: fit-content;
}

/* small screen and below */
@media screen and (max-width: 787px) {
  .navbar-icon-spacer {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}

/* big screen and above */
@media screen and (min-width: 768px) {
  .width-40 {
    min-width: fit-content;
    max-width: 40%;
  }
}
